{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-image: url('static/img/1.jpg');">
    <nav>
        <div id="logo">
            <a href="/"><img src="{% static '/img/NITM.png' %}"  alt=""></a>
        </div>
        <ul class="nav-links">
            <li><a href="/leadership" id="navlink" class="navlink">LEADERBOARD</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container " style="padding-top: 8vw;">
        <div class="jumbotron">
            <h1 class="neon"> treasure hunt</h1>
            <p class="font-weight-bolder">Caught inside a mystery,veiled in an engima,locked inside a riddle.....</p>
        </div>
        <h2 style="text-align: center; color:rgb(138, 236, 10);">Thanks for your Submission</h2>


    </div>
    <script src="{% static '/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    </body>

{% endblock %}
