{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-image: url('static/img/1.jpg');">
    <nav>
        <div id="logo">
            <a href="/"><img src="{% static '/img/NITM.png' %}" alt=""></a>
        </div>
        <ul class="nav-links">
            <li><a href="/leadership" id="navlink" class="navlink">LEADERBOARD</a></li>
        </ul>

        {% if user.is_authenticated %}
        <div class="dropdown navlink">
            <button class="dropbtn navlink" id="navlink"  > {{ request.user.username }}</button>
            <div class="dropdown-content">
              <a href="/logout">Logout</a>
            </div>
          </div>
        <!-- <div class="btn-group">
            <button type="button" class="btn btn-danger">Action</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div> -->
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.username }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/logout">Logout</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        {% else %}
        <div  id="navlink" class="navlink"> 
        <a style="color: black; text-decoration: none; font-size: 1.2rem;" href="{% url 'Login' %}" class="navlink"
                id=""
                 >Login</a>
        </div>
        {% endif %}
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="container" style="padding-top: 8vw;">
     
        <div class="jumbotron" >
            
             
            <h1 class="neon"><img src="{% static '/img/unnamed.jpg' %}" id="img" alt="">treasure hunt</h1>
            <p class="font-weight-bolder">Caught inside a mystery,veiled in an engima,locked inside a riddle.....</p>
        
        </div>
          <div class="alert alert-warning">
          <strong>Warning!</strong> Please take Instructions seriously otherwise you can be in trouble!!😝😝😝
        </div>
        <div class="content pt-3 pb-4 mb-4">
            <h2>Instructions :</h2>
            <li>All students will be participating <b>individually</b> in the quiz. </li>
            <li>A total of <b>10 questions </b>are given in the test.</li>
            <li><b>Tab/Window switching and screen sharing is prohibited</b>, and it will be proctored. </li>
            <li>The timing of the quiz will be fixed. <b>Anyone who starts late will be responsible for the less duration</b> that he will get. For example, if quiz timing is 10-10:30 am, then if one starts at 10:20 am, he will be left with 10 mins time only, instead of 30 mins.</li>
            <li>You <b>cannot modify the answer to any previous question</b> once submitted. If one goes back to the previous question and resubmits answer, it will lead to <b>immediate termination of the test.</b></li>
            <li><b>The decision of the team and authorities will be final.</b></li>
        </div>
    </div>
    <div id="design">
        <input class="form-check-input" type="checkbox" value="" id="checkbox" onclick="checkMe()"/>
        <label class="form-check-label" for="checkbox"> I have read and understood the above given Instructions.</label><br>

    </div>
    <div id="buttons">
        <button type="button" id="signin"  class="button"  ><a href="{% url 'quiz' %}">Start Test</a></button>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj " crossorigin="anonymous ">
    </script>

    <script src="{% static '/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/landing.css' %}">
    </body>
    
{% endblock %}
