{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-image: url('static/img/1.jpg');">
    <nav>
        <div id="logo">
            <a href="/"><img src="{% static '/img/NITM.png' %}"alt=""></a>
        </div>
        <ul class="nav-links">
            <li><a href="/" id="navlink" class="navlink">HOME</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <!-- *********leaderboard section******************* -->
    <!-- {% for i in list%}
    <h1>mayank</h1>
    {% endfor %} -->
    <div class="l-wrapper">
        <div class="row">
            <div class="col-5 l-grid__item--sticky">
              <div class="c-card u-bg--light-gradient u-text--dark">
                <div class="c-card__body">
                  <div class="u-display--flex u-justify--space-between">
                    <div class="u-text--left">
                      <div class="u-text--small">My Rank</div>
                      <h2>{{myrank}} Place</h2>
                    </div>
                    <div class="u-text--right">
                      <div class="u-text--small">My Score</div>
                      <h2>{{myscore}}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="c-card">
                <div class="c-card__body" id="report">
                  <div class="u-text--center" id="winner"></div>
                  <div class="u-display--flex u-text--center flex-column">
                    <div class="">
                      <div class="">Quetions Attempted : <span>  28</span> </div>
                    </div>
                    <div class="">
                      <div class="">My Score : <span>  91</span></div>
                    </div>
                    <div class="">
                        <div class="">Time Taken : <span>  25 min</span>  </div>
                      </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="col-7">
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Username</th>
                    <th scope="col">Score</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in list %}
                  <tr>
                    <th scope="row">{{ i.id }}</th>
                    <td>{{ i.name.username}}</td>
                    <td>{{ i.score }} </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
          </div>
          


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj " crossorigin="anonymous ">
    </script>

<!-- <script src="{% static '/js/leaderboard.js' %}"></script> -->
<link rel="stylesheet" href="{% static '/css/leaderboard.css' %}">
</body>
{% endblock %}
