{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="box">
        <div id="inner-box">
        <div id="inner-box1">
            <div class="inner-box1"></div>
            <div class="inner-box1"></div>
            <div class="inner-box1"></div>
        </div>
        <div id="inner-box2">
            <div class="inner-box2"></div>
            <div class="inner-box2"></div>
            <div class="inner-box2"></div>
        </div><div id="inner-box3">
            <div class="inner-box3"><span class="span">I am Mr.Nobody</span></div>
            <div class="inner-box3"></div>
            <div class="inner-box3"></div>
        </div>
    </div>
       <form action="#">
           <div class="input">
           <label for="answer">Answer:</label>
            <input type="text" id="answer" name="answer" placeholder="Enter your Answer here"><br>
        </div>
        <div class="buttons">
            <button class="but">Submit</button>
            <button class="but">Next</button>
            <button class="but">Finish</button>
        </div>
       </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static '/css/page1.css' %}">
</body>
{% endblock %}